header.topmenu .wrapper .logo:after {
    content: '☺ boosted [0.6.1]';
}
#steps div.boost_collapsed_column {
    width: 30px !important;
    height: 600px !important;
}
#steps div.boost_collapsed_column header em {
    margin: 0 0 0 10px;
}
#steps div.boost_collapsed_column header {
    position: relative;
    width: 20px !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
#steps div.boost_collapsed_column header h1 {
    width: 500px;
    text-align: left;
}
#steps div.boost_collapsed_column header,
#steps div.boost_collapsed_column header h1,
#steps div.boost_collapsed_column header, h1 span {
    border: none;
    background: transparent;
}
#steps div.boost_collapsed_column header h1 .actions,
#steps div.boost_collapsed_column section {
    display: none !important;
}
pre.task-note {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}
